body {
	position: relative;

}

body:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.05);

	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;

	width: 100%;
	height: 100%;
	opacity : 0.2;
	z-index: -1;

}

.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.title{
  color: White;
}
