body {
	position: relative;

}

body:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.05);

	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;

	width: 100%;
	height: 100%;
	opacity : 0.2;
	z-index: -1;

}

.page-content {
	align-items: center;
  justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
}

#fileUserImage {
  display: none;
}


.disabled {
		 pointer-events: none;
		 cursor: default;
	}

.buttonFormat {
	display: block;
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.tableContainer {
	display: block;
	overflow-x: auto;
	overflow-y: auto;
}

.homeGrid {
	text-align: center;
	justify-content: center;
}

.homeCol {
	display: inline-block;
}

.mdl-card {
	margin: 0 auto;
}

.demo-card-image.mdl-card {
	background-repeat: no-repeat;
	background-position: 50% -85%;
	background-color: #3664b4;
	cursor: pointer;
}

.demo-card-image > .mdl-card__actions {
	height: 52px;
	padding: 18px;
	background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
	color: #fff;
	font-size: 14px;
	font-weight: 800;
}

#usersBtn.demo-card-image {
	background-image: url(../images/account.svg);
	background-size: 55%;
	background-position: 50% -85%;

}

#requestsBtn.demo-card-image {
	background-image: url(../images/requests.svg);
	background-size: 35%;
	background-position: 50% +20%;

}

#logsBtn.demo-card-image {
	background-image: url(../images/logs.svg);
	background-size: 35%;
	background-position: 50% +20%;

}

#emergencyBtn.demo-card-image {
	background-image: url(../images/emergency.svg);
	background-size: 45%;
	background-position: 50% 0%;

}

#fireBtn.demo-card-image {
	background-image: url(../images/fire.svg);
	background-size: 40%;
	background-position: 50% 10%;

}

#shooterBtn.demo-card-image {
	background-image: url(../images/gun.svg);
	background-size: 45%;
	background-position: 50% 0%;

}

#bombBtn.demo-card-image {
	background-image: url(../images/bomb.svg);
	background-size: 40%;
	background-position: 50% 10%;

}

#otherBtn.demo-card-image {
	background-image: url(../images/question-sign.svg);
	background-size: 40%;
	background-position: 50% 12%;

}

.mdl-list {
	display: inline-flex;
	flex-direction: column;
}

#logTable {
	display: inline-block;
	flex-direction: column;
}

.mdl-button--fab {
	/*float: right;*/
	position:fixed;
	right:24px;
	bottom:24px;
}

#userListContainer {
	width: 100%;
	margin: 0 auto;
}

/*#users {*/
	/*background: rgba(0, 0, 0, 0.2);*/
/*}*/

