.page-content {
	align-items: center;
  justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
}

#fileUserImage {
  display: none;
}

.accountForm_Content_Hide {
	display: none;
}

.disabled {
		 pointer-events: none;
		 cursor: default;
	}

.buttonFormat {
	display: block;
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
